<h1>Comparação de Produtos</h1>
<p>Empresa: {{ company.companyName }}</p>
<p>Usuário: {{ user.userName }} - Data: {{ dateTime }}</p>

<ul>
    {% for product in products %}
        <li>
            {{ product.description }} - Preço: {{ product.price }} - Quantidade: {{ product.quantity }} - Volume: {{ product.volume }} {{ product.unity }} - Status: {{ product.status }}
        </li>
    {% else %}
        <li>Nenhum produto encontrado.</li>
    {% endfor %}
</ul>

<pre>
    {{ dump(company) }}
    {{ dump(user) }}
    {{ dump(dateTime) }}
    {{ dump(products) }}
</pre>