<h1>Produtos do {{ company.companyName }}</h1>
<p>Usuário: {{ user.userName }} - Data: {{ dateTime }}</p>

<ul>
    {% for product in products %}
        <li>
            {{ product.description }} - Preço: {{ product.price }} - Quantidade: {{ product.quantity }} -
            Status: {{ product.status }}
        </li>
    {% else %}
        <li>Nenhum produto encontrado.</li>
    {% endfor %}
</ul>

<pre>
  {{ dump(company) }}
    {{ dump(user) }}
    {{ dump(dateTime) }}
    {{ dump(products) }}
</pre>