<div class="container">

  <h1> {{ data.title }} </h1>
  <div><strong> {{ pagehtml }} </strong></div>

  {% for item in data.clusters.data %}
    <div>
    <p>
    <ul class="no-bullets">
    <li>{{ item.id }}</li>
    <li>{{ item.label }}</li>
    <li>{{ item.acronym }}<li>
    <li>{{ item.type }}</li>
    <li>{{ item.homepage }}</li>
    </ul>
    </p>
    </div>
    </hr>
  {% endfor %}

</div>
