<h1>Produto: {{ product.gtin }}</h1>
<p>Descrição: {{ product.description }}</p>
<p>Marca: {{ product.marca }}</p>
<p>Volume: {{ product.volume }} {{ product.unity }}</p>
<p>Quantidade: {{ product.quantity }}</p>
<p>Status: {{ product.status }}</p>